<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Create FiveM Scripts with a FiveM Script Maker for Native, ESX, QBUS/QBCORE">
    <meta name="author" content="CodeLabbs">
    <meta name="keywords" content="FiveM, FiveM Scripting, fivem marketplace, cinema fivem, ESX Script FiveM script, FiveM Code, FiveM Coding, FiveM Script Maker, FiveM ESX, ESX, QBCORE, QBUS, FiveM QBCore, QBus, FiveM Blueprint, FiveM Scripts, FiveM Scripts Maker, FiveM ESX Script Maker, fivem qbus, fivem download,fivem server list,fivem mods, fivem store, fivem marketplace, fivem drugs script, fivem docs,
fivem drugs, fivem job scripts, fivem job, fivem jobs, fivem job creator, fivem qb scripts, fivem server, fivem resources, fivem website, fivem esx pack, fivem esx identity,fivem esx hud,fivem esx base,fivem esx legacy,fivem esx_policejob,fivem esx_identity,fivem esx ambulance job,fivem esx admin,fivem esx admin menu,fivem esx atm,fivem esx advanced fishing,fivem esx admin commands,fivem esx admin panel,fivem esx async,fivem esx blackjack,fivem esx billing,fivem esx boat,fivem esx barbershop,fivem esx boat shop,fivem esx banking script,fivem esx bus job,fivem esx chat script,fivem esx commands,fivem esx casino,fivem esx customui,fivem esx cruise control,fivem esx clotheshop,fivem esx car dealer, 
fivem esx carlock,fivem esx drugs,fivem esx download,fivem esx drugs script,fivem esx duty,fivem esx discord,fivem esx doorlock,fivem esx documentation,fivem esx datastore,fivem esx extended,fivem esx evidence,fivem esx evidence locker,fivem esx extra items,fivem esx eup,fivem esx emotes,fivem esx eden clothes shop,fivem esx essentialmode,fivem esx framework,fivem esx fishing,fivem esx fuel script,fivem esx functions,fivem esx final,fivem esx food,fivem esx fuel,fivem esx framework download,fivem esx garage,fivem esx garage with impound,fivem esx give money,
fivem qbcore hud,fivem qbcore server,fivem qbcore drugs,fivem qbcore or esx,fivem qbcore mdt,fivem qbcore to esx,fivem qbcore admin menu,fivem qbcore admin commands,fivem qbcore atm robbery, qbcore scripts,qbcore discord,qbcore hud,qbcore fivem,qbcore phone,qbcore redm,qbcore jobs, qbus eup,qbus esx,qbus fivem,qbus framework,qbus fivem scripts,qbus framework download,qbus forum,qbus framework fivem,qbus full, fivem status, fivem natives">
    <title>CodeLabbs - FiveM Script Maker</title>
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/984902068705820762/988029624426565712/3.png" />
    <meta property="og:description" content="Create FiveM Scripts with a FiveM Script Maker for Native, ESX, QBUS/QBCORE">
    <meta property="twitter:image" content="https://cdn.discordapp.com/attachments/984902068705820762/988029624426565712/3.png" />
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Web_1920___1.css" />
    <script id="applicationScript" type="text/javascript" src="Web_1920___1.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
</head>

<body>
    <div id="Web_1920__1">
        <img id="Ovaal_1_kopiren_3" src="img/Ovaal_1_kopiren_3.png" draggable="false" srcset="img/Ovaal_1_kopiren_3.png 1x, img/Ovaal_1_kopiren_3@2x.png 2x">

        <img id="Ovaal_1_kopiren" src="img/Ovaal_1_kopiren.png" draggable="false" srcset="img/Ovaal_1_kopiren.png 1x, img/Ovaal_1_kopiren@2x.png 2x">

        <img id="Groep_1_kopiren" src="img/Groep_1_kopiren.png" draggable="false" srcset="img/Groep_1_kopiren.png 1x, img/Groep_1_kopiren@2x.png 2x">

        <img id="n_5_-_Macbook_Pro_16__Mockup_-" src="img/n_5_-_Macbook_Pro_16__Mockup_-.png" draggable="false" srcset="img/n_5_-_Macbook_Pro_16__Mockup_-.png 1x, img/n_5_-_Macbook_Pro_16__Mockup_-@2x.png 2x">

        <div id="Component_2__1" class="Component_2___1">
            <iframe id="Mask_Group_1" src="https://www.youtube.com/embed/QtuzQyxyBDk" srcset="img/Mask_Group_1.png 1x, Mask_Group_1@2x.png 2x"></iframe>

            </svg>
        </div>
        <h1 style="display: none;">FiveM Script Maker</h1>
        <div id="ALL_FEATURES_NATIVEESX_SUPPORT_br">
            <span>ALL FEATURES<br/>NATIVE/ESX SUPPORT<br/>250 SAVED SCRIPTS<br/>24/7 SUPPORT</span>
        </div>
        <div id="Text">
            <span></span>
        </div>
        <div id="Text_p">
            <span></span>
        </div>
        <div id="HOME">
            <span><a href= "#Ovaal_1_kopiren_3">HOME</a></span>
        </div>
        <div id="PRODUCT">
            <span><a href= "#ASSETproduct">PRODUCT</a></span>
        </div>

        {{#if user}}
        <div id="LOGIN">
            <span><a href= "/dashboard">DASHBOARD</a></span>
        </div>
        {{else}}
        <div id="LOGIN">
            <span><a href= "/login">LOGIN</a></span>
        </div>
        {{/if}}
        <div id="PRICE">
            <span><a href= "#ASSETpricing">PRICE</a></span>

        </div>

        <div id="CREATE_TO_EXPAND">
            <span>CREATE TO EXPAND</span>
        </div>
        <div id="This_is_Codelabbs_Codelabbs_is">
            <span>Have you always wanted to create scripts for FiveM? Well now you can with an easy to use BluePrint system.<br/>Codelabbs is made for developing FiveM and more. More information? Scroll down!</span>
        </div>
        <div id="Our_product_teaches_you_within">
            <span>Our product teaches you within a couple of clicks, tutorials & support to create your own Scripts.<br/>Fill your FiveM World with for example: Jobs, Drugs & more, all made by yourself!                  </span>
        </div>
        <div id="BAS_IC">
            <span>BAS<br/>IC</span>
        </div>

        
        <div id="ALL_FEATURES_BETA_FEATURES_NAT">
            <span>ALL FEATURES<br/>BETA FEATURES<br/>NATIVE/ESX/QBUS SUPPORT<br/>500 SAVED SCRIPTS<br/>24/7 SUPPORT</span>
        </div>
        <div id="ALL_FEATURES_BETA_FEATURES_NAT_">
            <span>ALL FEATURES<br/>BETA FEATURES<br/>NATIVE/ESX/QBUS SUPPORT<br/>UNLIMITED SAVED SCRIPTS<br/>24/7 SUPPORT</span>
        </div>
        <div id="ALL_FEATURES_NATIVEESX_SUPPORT">
            <span>ALL FEATURES<br/>NATIVE/ESX SUPPORT<br/>500 SAVED SCRIPTS<br/>24/7 SUPPORT</span>
        </div>
        <div id="n__PM">
            <span>$5 </span><span style="font-size:20px;">P/M</span>
        </div>
        <div id="n_5_PM">
            <span>$15 </span><span style="font-size:20px;">P/M</span>
        </div>
        <div id="n_00_lifetime">
            <span>$100 </span><span style="font-size:20px;">lifetime</span>
        </div>
        <div id="n_0_lifetime">
            <span>$50 </span><span style="font-size:20px;">lifetime</span>
        </div>
         {{#if user}}
            <img id="ASSETBASIC_" src="img/ASSETBASIC_.png" draggable="false" srcset="img/ASSETBASIC_.png 1x, img/ASSETBASIC_@2x.png 2x">
            <svg class="ASSETBASIC" onclick="window.location.href='/payment?amount=5&type=basic';">
		    <rect id="ASSETBASIC" rx="0" ry="0" x="0" y="0" width="332" height="617">
		    </rect>
	        </svg>
            <img id="ASSETadvanced_" src="img/ASSETadvanced_.png" draggable="false" srcset="img/ASSETadvanced_.png 1x, img/ASSETadvanced_@2x.png 2x">
            <img id="ASSETadvanced" src="img/ASSETadvanced.png" draggable="false" srcset="img/ASSETadvanced.png 1x, img/ASSETadvanced@2x.png 2x">

            <svg class="Rectangle_8" onclick="window.location.href='/payment?amount=100&type=advancedlife';">
		    <rect id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="332" height="617">
		    </rect>
	        </svg>

            <svg class="Path_1" viewBox="0 0 332 617" onclick="window.location.href='/payment?amount=15&type=advanced';">
		    <path id="Path_1" d="M 0 0 L 332 0 L 332 617 L 0 617 L 0 0 Z">
		    </path>
	        </svg>
            <img id="ASSETBASIC_bb" src="img/ASSETBASIC_bb.png" draggable="false" srcset="img/ASSETBASIC_bb.png 1x, img/ASSETBASIC_bb@2x.png 2x">


            <svg class="ASSETBASIC_ba" viewBox="0 0 332 617" onclick="window.location.href='/payment?amount=50&type=basiclife';">
		    <path id="ASSETBASIC_ba" d="M 0 0 L 332 0 L 332 617 L 0 617 L 0 0 Z">
		    </path>
	        </svg>
        {{else}}
            <img id="ASSETBASIC_" src="img/ASSETBASIC_.png" draggable="false" srcset="img/ASSETBASIC_.png 1x, img/ASSETBASIC_@2x.png 2x">
            <svg class="ASSETBASIC" onclick="window.location.href='/register';">
		    <rect id="ASSETBASIC" rx="0" ry="0" x="0" y="0" width="332" height="617">
		    </rect>
	        </svg>
            <img id="ASSETadvanced_" src="img/ASSETadvanced_.png" draggable="false" srcset="img/ASSETadvanced_.png 1x, img/ASSETadvanced_@2x.png 2x">
            <img id="ASSETadvanced" src="img/ASSETadvanced.png" draggable="false" srcset="img/ASSETadvanced.png 1x, img/ASSETadvanced@2x.png 2x">

            <svg class="Rectangle_8" onclick="window.location.href='/register';">
		    <rect id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="332" height="617">
		    </rect>
	        </svg>

            <svg class="Path_1" viewBox="0 0 332 617" onclick="window.location.href='/register';">
		    <path id="Path_1" d="M 0 0 L 332 0 L 332 617 L 0 617 L 0 0 Z">
		    </path>
	        </svg>
            <img id="ASSETBASIC_bb" src="img/ASSETBASIC_bb.png" draggable="false" srcset="img/ASSETBASIC_bb.png 1x, img/ASSETBASIC_bb@2x.png 2x">


            <svg class="ASSETBASIC_ba" viewBox="0 0 332 617" onclick="window.location.href='/register';">
		    <path id="ASSETBASIC_ba" d="M 0 0 L 332 0 L 332 617 L 0 617 L 0 0 Z">
		    </path>
	        </svg>
        {{/if}}

        <div id="n_">
            <span> </span>
        </div>
        <div id="Works_very_nicely_good_stuff__">
            <span>"Works very nicely! good stuff!"<br/><br/></span><br/>
        </div>
        
        <img id="ASSETpricing" src="img/ASSETpricing.png" draggable="false" srcset="img/ASSETpricing.png 1x, img/ASSETpricing@2x.png 2x">

        <img id="ASSETproduct" src="img/ASSETproduct.png" draggable="false" srcset="img/ASSETproduct.png 1x, img/ASSETproduct@2x.png 2x">

        <img id="ASSETREVIEWS" src="img/ASSETREVIEWS.png" draggable="false" srcset="img/ASSETREVIEWS.png 1x, img/ASSETREVIEWS@2x.png 2x">

        <svg class="ASSETBASIC_b">
		<rect id="ASSETBASIC_b" rx="0" ry="0" x="0" y="0" width="305" height="304">
		</rect>
	    </svg>
	    <svg class="ASSETBASIC_ca">
	    	<rect id="ASSETBASIC_ca" rx="0" ry="0" x="0" y="0" width="303" height="303">
	    	</rect>
	    </svg>
	    <svg class="ASSETBASIC_cb">
	    	<rect id="ASSETBASIC_cb" rx="0" ry="0" x="0" y="0" width="303" height="303">
	    	</rect>
	    </svg>
	    <svg class="ASSETBASIC_cc">
	    	<rect id="ASSETBASIC_cc" rx="0" ry="0" x="0" y="0" width="303" height="303">
	    	</rect>
	    </svg>
        <div id="We_support_all_mayor_framework">
		<span>We support all mayor frameworks and we are constantly updating our Systems</span>
	    </div>
	    <div id="Native_ESX__QBCore">
	    	<span>Native, ESX & QBCore</span>
	    </div>
	    <div id="Everything_you_need_is_there_n">
	    	<span>Everything you need is there, no weird menu's or different pages. Everything you want to use is easy to get to and easily usable!</span>
	    </div>
	    <div id="All_In__One">
	    	<span>All In <br/>One</span>
	    </div>
	    <div id="We_will_give_you_support__on_p">
	    	<span>We will give you support <br/>on problems, making scripts and more with our advanced Technical Team!</span>
	    </div>
	    <div id="n_47_Support">
	    	<span>24/7 Support</span>
	    </div>
	    <div id="We_allow_our_users_to_code_wit">
	    	<span>We allow our users to code without typing, our blueprint framework makes an easy to use Scripting Platform.</span>
	    </div>
	    <div id="Blueprint_System">
	    	<span>Blueprint System</span>
	    </div>
        <div id="Where_can_I_start_CodeLabbs_ha">
            <span>"Where can I start, CodeLabbs has helped me create multiple scripts and the features and interfaces are insanely satisfying (ik its cringe :D). Also great support and a fun team behind it!"<br/><br/></span><br/>
        </div>
        <div id="Finally_I_found_a_scriptmaker_">
            <span>"Finally I found a scriptmaker for FiveM! I'm normally only a gamer but would like to make my own scripts. I never used a program like this, but it was easy after watching several tutorials on the site and the live support was friendly and quick. Easily exchange scripts with other users in the marketlabbs. A monthly subscription for only $10 was money well spent"<br/><br/></span><br/>
        </div>
        <svg class="Rectangle_10">
		<rect id="Rectangle_10" rx="0" ry="0" x="0" y="0" width="398" height="291">
		</rect>
	</svg>
        <div id="MonkeGamer_Advanced_Package___">
            <span>MonkeGamer</span><br/><span style="font-style:normal;font-weight:normal;font-size:20px;">Advanced Package<br/><br/></span><br/>
        </div>
        <div id="MonkeGamer_Advanced_Package__">
            <span>MonkeGamer</span><br/><span style="font-style:normal;font-weight:normal;font-size:20px;">Advanced Package<br/></span><br/>
        </div>
        <div id="FluentDev_Advanced_Package___">
            <span>FluentDev</span><br/><span style="font-style:normal;font-weight:normal;font-size:20px;">Advanced Package<br/><br/></span><br/>
        </div>
        <div id="Arnout_Basic_Package___">
            <span>Arnout</span><br/><span style="font-style:normal;font-weight:normal;font-size:20px;">Basic Package<br/><br/></span><br/>
        </div>
        <div id="Want_a_write_a_review_about_us">
            <span>Want a write a review about us? Or see the reviews about us. Go to our Trustpilot! </span><br/>
        </div>
        <div class="Rectangle_11">
            <span><a href= "https://nl.trustpilot.com/review/codelabbs.com">GO TO<BR>TRUSTPILOT</a></span>
        </div>
        
        <a href="https://www.discord.gg/codelabbs">
            <svg class="Icon_awesome-discord" viewBox="0 0 31.5 36">
		
		    <path id="Icon_awesome-discord" d="M 20.89800071716309 17.09995460510254 C 20.89800071716309 18.19795036315918 20.0880012512207 19.09794807434082 19.0620002746582 19.09794807434082 C 18.05400085449219 19.09794807434082 17.22599983215332 18.19795036315918 17.22599983215332 17.09995460510254 C 17.22599983215332 16.00195693969727 18.0359992980957 15.10196018218994 19.0620002746582 15.10196018218994 C 20.0880012512207 15.10196018218994 20.89800071716309 16.00195693969727 20.89800071716309 17.09995460510254 Z M 12.49200057983398 15.10196018218994 C 11.4660005569458 15.10196018218994 10.6560001373291 16.00195693969727 10.6560001373291 17.09995460510254 C 10.6560001373291 18.19795036315918 11.48400020599365 19.09794807434082 12.49200057983398 19.09794807434082 C 13.51800060272217 19.09794807434082 14.32800102233887 18.19795036315918 14.32800102233887 17.09995460510254 C 14.34600067138672 16.00195693969727 13.51800060272217 15.10196018218994 12.49200057983398 15.10196018218994 Z M 31.5 3.707989931106567 L 31.5 35.99990463256836 C 26.96526527404785 31.99252319335938 28.41553115844727 33.31903839111328 23.14799880981445 28.42192459106445 L 24.10199928283691 31.75191497802734 L 3.690000057220459 31.75191497802734 C 1.656000018119812 31.75191497802734 0 30.09592056274414 0 28.04392623901367 L 0 3.707989931106567 C 0 1.655995607376099 1.656000018119812 0 3.690000057220459 0 L 27.81000137329102 0 C 29.8439998626709 0 31.5 1.655995607376099 31.5 3.707989931106567 Z M 26.36999893188477 20.77194404602051 C 26.36999893188477 14.97595977783203 23.77799987792969 10.2779712677002 23.77799987792969 10.2779712677002 C 21.18600082397461 8.333976745605469 18.71999931335449 8.387975692749023 18.71999931335449 8.387975692749023 L 18.46799850463867 8.675975799560547 C 21.52799797058105 9.611972808837891 22.94999885559082 10.96196937561035 22.94999885559082 10.96196937561035 C 18.67422485351562 8.6185302734375 13.65159225463867 8.618108749389648 9.503998756408691 10.43997097015381 C 8.837998390197754 10.74596977233887 8.441998481750488 10.96196937561035 8.441998481750488 10.96196937561035 C 8.441998481750488 10.96196937561035 9.935998916625977 9.539973258972168 13.17599868774414 8.603976249694824 L 12.99599838256836 8.38797664642334 C 12.99599838256836 8.38797664642334 10.52999877929688 8.333977699279785 7.937998294830322 10.27797222137451 C 7.937998294830322 10.27797222137451 5.345998287200928 14.97595977783203 5.345998287200928 20.77194404602051 C 5.345998287200928 20.77194404602051 6.857998371124268 23.38193702697754 10.83599853515625 23.50793647766113 C 10.83599853515625 23.50793647766113 11.50199890136719 22.69793891906738 12.04199886322021 22.01394081115723 C 9.755998611450195 21.32994270324707 8.891998291015625 19.88994598388672 8.891998291015625 19.88994598388672 C 9.156795501708984 20.07529067993164 9.593435287475586 20.3155460357666 9.629998207092285 20.33994483947754 C 12.6682014465332 22.04136276245117 16.98384094238281 22.59879875183105 20.86199951171875 20.96994400024414 C 21.49199867248535 20.7359447479248 22.19400024414062 20.39394378662109 22.93199920654297 19.90794563293457 C 22.93199920654297 19.90794563293457 22.0319995880127 21.38394165039062 19.67399978637695 22.04994010925293 C 20.2140007019043 22.73393821716309 20.86199951171875 23.50793647766113 20.86199951171875 23.50793647766113 C 24.84000015258789 23.38193702697754 26.36999893188477 20.77194404602051 26.36999893188477 20.77194404602051 Z">
		    </path>
	    </a>
	</svg>
        
        <a href="https://www.instagram.com/codelabbs/">
            <svg class="Icon_awesome-instagram" viewBox="-0.005 2.238 30.493 30.486">
		
		    <path id="Icon_awesome-instagram" d="M 15.24437808990479 9.664396286010742 C 10.91794586181641 9.664396286010742 7.428230285644531 13.15411186218262 7.428230285644531 17.48054504394531 C 7.428230285644531 21.80697822570801 10.91794586181641 25.29669380187988 15.24437808990479 25.29669380187988 C 19.57081031799316 25.29669380187988 23.06052589416504 21.80697631835938 23.06052589416504 17.48054504394531 C 23.06052589416504 13.15411376953125 19.57081031799316 9.664396286010742 15.24437808990479 9.664396286010742 Z M 15.24437808990479 22.56205940246582 C 12.44852352142334 22.56205940246582 10.16286182403564 20.28320121765137 10.16286182403564 17.48054313659668 C 10.16286182403564 14.67788600921631 12.44172191619873 12.39902591705322 15.2443790435791 12.39902591705322 C 18.04703712463379 12.39902591705322 20.32589530944824 14.67788600921631 20.32589530944824 17.48054313659668 C 20.32589530944824 20.28320121765137 18.04023551940918 22.56205940246582 15.2443790435791 22.56205940246582 Z M 25.20333480834961 9.344675064086914 C 25.20333480834961 10.35825729370117 24.38702583312988 11.16776275634766 23.38024711608887 11.16776275634766 C 22.36666488647461 11.16776275634766 21.55715942382812 10.35145473480225 21.55715942382812 9.344675064086914 C 21.55715942382812 8.337896347045898 22.37346839904785 7.52158784866333 23.38024711608887 7.52158784866333 C 24.38702583312988 7.52158784866333 25.20333480834961 8.337896347045898 25.20333480834961 9.344675064086914 Z M 30.38008689880371 11.19497394561768 C 30.26444244384766 8.752852439880371 29.70663070678711 6.58963680267334 27.91755676269531 4.807364463806152 C 26.13528442382812 3.025092601776123 23.97206878662109 2.467282295227051 21.52994918823242 2.344836235046387 C 19.01299858093262 2.201982021331787 11.46895408630371 2.201982021331787 8.952005386352539 2.344836235046387 C 6.51668643951416 2.460479736328125 4.353470325469971 3.018290042877197 2.564396142959595 4.800561904907227 C 0.7753217220306396 6.582833290100098 0.224313497543335 8.746049880981445 0.1018674522638321 11.18817043304443 C -0.04098642617464066 13.70512008666992 -0.04098642617464066 21.24916458129883 0.1018674522638321 23.76611518859863 C 0.2175110578536987 26.20823669433594 0.7753214836120605 28.37145233154297 2.564396142959595 30.15372276306152 C 4.353470325469971 31.93599319458008 6.509883880615234 32.49380874633789 8.952005386352539 32.61625289916992 C 11.46895408630371 32.75910568237305 19.01299858093262 32.75910568237305 21.52994918823242 32.61625289916992 C 23.97207069396973 32.5006103515625 26.13528633117676 31.94279479980469 27.91755867004395 30.15372085571289 C 29.69983100891113 28.3714485168457 30.25764274597168 26.20823287963867 30.38008689880371 23.76611328125 C 30.52294158935547 21.2491626739502 30.52294158935547 13.71192073822021 30.38008689880371 11.19497203826904 Z M 27.12845993041992 26.46673393249512 C 26.59786033630371 27.80003547668457 25.57067108154297 28.82722473144531 24.23056793212891 29.36462593078613 C 22.22381019592285 30.16052627563477 17.46201515197754 29.97685623168945 15.24437808990479 29.97685623168945 C 13.02674198150635 29.97685623168945 8.258143424987793 30.15372276306152 6.258188724517822 29.36462593078613 C 4.924885749816895 28.83402633666992 3.897698879241943 27.80683708190918 3.360296010971069 26.46673393249512 C 2.564395666122437 24.45997619628906 2.748065233230591 19.69818115234375 2.748065233230591 17.48054504394531 C 2.748065233230591 15.26290893554688 2.571198463439941 10.494309425354 3.360296010971069 8.494355201721191 C 3.890896081924438 7.161052703857422 4.918083667755127 6.133865356445312 6.258188724517822 5.596462249755859 C 8.264945983886719 4.800562381744385 13.02674198150635 4.984231472015381 15.24437808990479 4.984231472015381 C 17.46201515197754 4.984231472015381 22.23061180114746 4.807364463806152 24.23056793212891 5.596462249755859 C 25.56386947631836 6.127062797546387 26.5910587310791 7.154249668121338 27.12845993041992 8.494355201721191 C 27.92436027526855 10.50111293792725 27.74069023132324 15.26290798187256 27.74069023132324 17.48054504394531 C 27.74069023132324 19.69818115234375 27.92436027526855 24.4667797088623 27.12845993041992 26.46673393249512 Z">
		    </path>
	    </a>
	</svg>
        
        <a href="https://www.tiktok.com/@codelabbsdev">
            <svg class="Icon_simple-tiktok" viewBox="2.369 0 26.485 30.486">
		
		    <path id="Icon_simple-tiktok" d="M 16.27867317199707 0.02540434524416924 C 17.94265747070312 0 19.59393882751465 0.01270217262208462 21.2452220916748 0 C 21.34683990478516 1.943432569503784 22.04545974731445 3.924971580505371 23.46810340881348 5.296806335449219 C 24.8907470703125 6.706747531890869 26.8976879119873 7.35455846786499 28.85382461547852 7.57049560546875 L 28.85382461547852 12.68947124481201 C 27.02471160888672 12.62596035003662 25.18289756774902 12.24489593505859 23.51891326904297 11.45736026763916 C 22.79488945007324 11.12710380554199 22.12167358398438 10.707932472229 21.46116065979004 10.27605819702148 C 21.44845771789551 13.98509216308594 21.47386169433594 17.69412803649902 21.43575477600098 21.39045906066895 C 21.33413696289062 23.16876411437988 20.74983787536621 24.93436622619629 19.72096252441406 26.39511489868164 C 18.05697822570801 28.83393287658691 15.173583984375 30.42170333862305 12.2139778137207 30.47251319885254 C 10.3975658416748 30.57412910461426 8.581155776977539 30.0787467956543 7.031491279602051 29.16419219970703 C 4.465652465820312 27.65263366699219 2.661943912506104 24.88355827331543 2.395198345184326 21.91125106811523 C 2.369793891906738 21.27614212036133 2.357091665267944 20.64103507995605 2.382496118545532 20.01862716674805 C 2.611135005950928 17.60521507263184 3.805139541625977 15.29341888427734 5.659656524658203 13.71834945678711 C 7.768217086791992 11.88923645019531 10.71512031555176 11.01278686523438 13.47149276733398 11.5335750579834 C 13.49689674377441 13.41349697113037 13.42068386077881 15.29341888427734 13.42068386077881 17.17333984375 C 12.16316890716553 16.76687049865723 10.68971729278564 16.88119125366211 9.584628105163574 17.64332008361816 C 8.784391403198242 18.16411018371582 8.174687385559082 18.96434593200684 7.857132911682129 19.86620140075684 C 7.59038782119751 20.51401138305664 7.666600227355957 21.22533226013184 7.67930269241333 21.91125106811523 C 7.984154224395752 23.99440765380859 9.991097450256348 25.7473087310791 12.12506294250488 25.55677604675293 C 13.54770660400391 25.5440731048584 14.90683841705322 24.71843147277832 15.64356517791748 23.5117244720459 C 15.88490581512451 23.09255218505859 16.15165328979492 22.66068077087402 16.16435432434082 22.1652946472168 C 16.2913761138916 19.89160537719727 16.24056816101074 17.63061904907227 16.25326919555664 15.35692882537842 C 16.26597023010254 10.23795318603516 16.24056816101074 5.131680011749268 16.2786750793457 0.02540654316544533 Z">
		    </path>
	    </a>
	</svg>
       
        <a href="https://twitter.com/CodeLabbs">
            <svg class="Icon_awesome-twitter" viewBox="0 3.381 36 29.239">
		
		    <path id="Icon_awesome-twitter" d="M 32.29945373535156 10.66753101348877 C 32.32230377197266 10.98731231689453 32.32230377197266 11.30716419219971 32.32230377197266 11.62694549560547 C 32.32230377197266 21.38069534301758 24.89849853515625 32.61930465698242 11.3299446105957 32.61930465698242 C 7.149725914001465 32.61930465698242 3.266507148742676 31.40859413146973 -9.5367431640625e-07 29.30716323852539 C 0.5939287543296814 29.37564849853516 1.164936542510986 29.39849853515625 1.781717777252197 29.39849853515625 C 5.230897426605225 29.39849853515625 8.406068801879883 28.23356056213379 10.94160842895508 26.24624824523926 C 7.697952270507812 26.17769432067871 4.979671001434326 24.05334281921387 4.043108463287354 21.12946701049805 C 4.499999046325684 21.19795227050781 4.956819534301758 21.24365425109863 5.436561584472656 21.24365425109863 C 6.098975658416748 21.24365425109863 6.761460304260254 21.15224838256836 7.378170967102051 20.99242782592773 C 3.997475624084473 20.30709266662598 1.46186637878418 17.33758354187012 1.46186637878418 13.75129508972168 L 1.46186637878418 13.6599588394165 C 2.444061756134033 14.20818519592285 3.586288213729858 14.55081844329834 4.796858787536621 14.59645080566406 C 2.809546232223511 13.27155208587646 1.507569789886475 11.01016139984131 1.507569789886475 8.451770782470703 C 1.507569789886475 7.081239700317383 1.872983813285828 5.824895858764648 2.512616634368896 4.728442668914795 C 6.144608497619629 9.205591201782227 11.60402297973633 12.12939643859863 17.72578048706055 12.44924736022949 C 17.61159324645996 11.90102100372314 17.54303741455078 11.33001327514648 17.54303741455078 10.75893497467041 C 17.54303741455078 6.692903518676758 20.8323974609375 3.380763053894043 24.92120933532715 3.380763053894043 C 27.04556083679199 3.380763053894043 28.96431922912598 4.271622657775879 30.31206893920898 5.710708618164062 C 31.97953033447266 5.390927314758301 33.57850646972656 4.77414608001709 34.99481201171875 3.928989887237549 C 34.44651412963867 5.642224311828613 33.28157806396484 7.081310272216797 31.75115585327148 7.994950771331787 C 33.23594665527344 7.83513069152832 34.67502975463867 7.423872470855713 35.99985885620117 6.852864742279053 C 34.99495315551758 8.314731597900391 33.7385368347168 9.616708755493164 32.29945373535156 10.66752910614014 Z">
		    </path>
		</a>
	</svg>
        
        <a href="https://www.youtube.com/channel/UC-R2zV64qkTeHBnSYhM1uzA">
            <svg class="Icon_awesome-youtube" viewBox="1.05 4.5 38.4 27">
		
			<path id="Icon_awesome-youtube" d="M 38.64761734008789 8.72458553314209 C 38.20598602294922 7.061695098876953 36.90478134155273 5.752054214477539 35.25264739990234 5.307609081268311 C 32.25803756713867 4.5 20.25 4.5 20.25 4.5 C 20.25 4.5 8.242031097412109 4.5 5.24735164642334 5.307609558105469 C 3.595218658447266 5.752125263214111 2.294015645980835 7.061695575714111 1.852382898330688 8.724586486816406 C 1.049976587295532 11.73867225646973 1.049976587295532 18.02728271484375 1.049976587295532 18.02728271484375 C 1.049976587295532 18.02728271484375 1.049976587295532 24.31589126586914 1.852382898330688 27.32997894287109 C 2.294015645980835 28.99287033081055 3.595218658447266 30.24794769287109 5.24735164642334 30.69239234924316 C 8.242031097412109 31.5 20.25 31.5 20.25 31.5 C 20.25 31.5 32.25796890258789 31.5 35.25264739990234 30.69239044189453 C 36.90478134155273 30.24794578552246 38.20598220825195 28.99286651611328 38.64761734008789 27.32997703552246 C 39.45002365112305 24.31589126586914 39.45002365112305 18.02728271484375 39.45002365112305 18.02728271484375 C 39.45002365112305 18.02728271484375 39.45002365112305 11.73867321014404 38.64761734008789 8.724587440490723 Z M 16.32269477844238 23.73686599731445 L 16.32269477844238 12.31769561767578 L 26.35903167724609 18.02742195129395 L 16.32269668579102 23.73686790466309 Z"></path>
		</a>
	</svg>
        
        <div id="TOS">
            <a href="/tos">
            <span></span><span style="font-style:normal;font-weight:normal;font-size:20px;">TOS</span>
            </a>
        </div>
        <div id="PRIACY_POLICY_">
            <a href="/privacy">
            <span></span><span style="font-style:normal;font-weight:normal;font-size:20px;">PRIVACY POLICY</span>
            </a>
        </div>
    </div>
</body>

</html>